body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #eee;
}
.table-conatiner {
  margin: 10px;
  overflow-x: auto;
  background-color: #fff;
}
.content-rotate {
  transform: rotateX(180deg);
}
h3 {
  text-align: center
}
#root > div > div {
  padding-top: 51px
}
.cap {
  text-transform: capitalize
}
.jumbotron {
  color: #fff !important;
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  p{
    font-weight: 200;
  }
  &.welcome{
    padding-left: 10px;
    margin-bottom: 0px;
  }
  h1{
    font-weight: 100;
  }
}
.weather-container {
  overflow: auto;
}
.weather-container table {
  white-space: nowrap;
  border-collapse: collapse;
  margin-bottom: 0px;
  tr th{
    background-color: #C0DCEA;
    text-transform: uppercase;
    font-weight: 500;
  }
  tr td {
    vertical-align: middle;
  }
  tbody {
    border-bottom: 10px solid #eee;
  }
}

.time-icon {
  min-width: 148px;
}

.degree {
  float: right;
  color: #ccc;
  padding: 16px 5px 8px 5px;
  cursor: pointer;
  &.degree-selected,
  &.degree:hover{
    color: #fff
  }
}
.status-content {
  margin: 0;
  font-size: 21px;
  font-weight: 300;
  .col {
    padding: 0;
    &:first-child {
      padding-left: 10px;
      text-align: left;
    }
    &:last-child {
      padding-right: 10px;
      text-align: right;
    }
  }

  .current-desc {
    text-align: center;
    margin-top: -10px;
    text-transform: capitalize;
  }

}

@media (max-width: 700px) {
  .status-content {
    font-size: 16px;
    .current-desc {
      img {
        max-height: 42px;
      }
    }
  }
}
